<footer class="footer-basic" >
    <div class="social">
        <a href="https://www.instagram.com/arka_iit_ism/"><i class="icon ion-social-instagram"></i></a>
         <a href="https://www.linkedin.com/company/arka-iit-ism-dhanbad/mycompany/"><i class="icon ion-social-linkedin"></i></a>
        <a href="https://www.facebook.com/ARKAiitism"><i class="icon ion-social-facebook"></i></a>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Home</a></li>
        <li class="list-inline-item"><a href="#">Contact</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">ARKA © 2021</p>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
<script src="/assets/js/Simple-Slider.js"></script>
</body>

</html>