<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Arka</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">

    
    
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/ImageSlider.css">
    <link rel="stylesheet" href="/assets/css/articles.css">
    <link rel="stylesheet" href="/assets/css/articledetails.css">
    <link rel="stylesheet" href="/assets/css/Login.css">
    <link rel="stylesheet" href="/assets/css/members.css">
    <link rel="stylesheet" href="/assets/css/Login.css">
    <link rel="stylesheet" href="/assets/css/articlecreate.css">
    
    
    
</head>

<body>

    
   